// Override default variables before the import
$primary: #f44b87;
$secondary: #2b80ff;
$info: #fef0f5;
$light: #f0f6ff;

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

